span(class="flex justify-center items-center h-8 w-8 sm:h-6 sm:w-6 mx-auto")
    svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width=menu.svg.width, height=menu.svg.height, viewBox=menu.svg.box)
        path(fill="currentColor", d=menu.svg.path)
span(class="font-medium text-xs sm:text-2xs leading-4 text-center")
    | #{menu.text}