div(class="relative")
    - cls = 'w-full rounded-md border border-gray-40 text-base text-black font-normal h-12 pl-4 placeholder-black placeholder-opacity-100 focus:border-purple-40 md:h-16 sm:text-xs sm:h-12 sm:pl-3'
    input(name=password.name, aria-label=password.label, placeholder=password.placeholder, class="pr-10 " + cls, :type="show ? 'text' : 'password'")

    - cls = 'absolute top-0 right-0 bottom-0 flex justify-center items-center w-8 px-1 mr-2 text-purple-80 hover:text-purple-40 focus:text-purple-40 sm:px-2'
    button(type="button", aria-label="Показать пароль", class=cls, x-show="!show", @click="show = true")
        - svg = {width: 22, height: 20, name: 'show'}
        include ../../partials/routes/svg

    button(type="button", aria-label="Скрыть пароль", class=cls, x-show="show", @click="show = false", x-cloak)
        - svg = {width: 22, height: 18, name: 'hide'}
        include ../../partials/routes/svg

if password.desc.length > 0
    p(class="text-xs leading-4 text-purple-80 mt-2 mx-px")
        | #{password.desc}