span(class="flex justify-center items-center text-purple-20 h-4 w-4")
    svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width=menu.svg.width, height=menu.svg.height, viewBox=menu.svg.box)
        path(fill="currentColor", d=menu.svg.path)
span(class="font-medium text-xs leading-4 mx-1")
    | #{menu.text}
if menu.number > 0
    span(class="flex text-xs h-4 min-w-4 mr-px")
        span(class="flex justify-center items-center px-1 rounded-full bg-pink flex-grow")
            span(class="font-medium leading-tight")
                | #{menu.number}