div(class="p-3 mb-1 rounded-xl sm:rounded-lg transition duration-300 ease-in-out bg-transparent shadow-none", data-s-header-submenu-wrap)
    div(class="flex justify-between items-center")
        if page.link === menu.link
            span(class="flex justify-start items-center text-purple-20 cursor-default")
                include link/md-top
        else
            a(href=menu.link, class="flex justify-start items-center text-white hover:text-purple-20 focus:text-purple-20")
                include link/md-top

        if menu.children[0] !== undefined
            button(type="button", class="flex justify-center items-center flex-shrink-0 h-6 sm:h-4 w-6 sm:w-4 sm:p-1 text-white hover:text-purple-20 focus:text-purple-20 transition duration-500 ease-in-out transform rotate-90", data-s-header-submenu-switch)
                svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="8", height="12", viewBox="0 0 8 12")
                    path(fill="currentColor", d="M0.452344 9.78512L4.53194 5.70553L0.452345 1.61703L1.70829 0.361084L7.05273 5.70553L1.70829 11.05L0.452344 9.78512Z")
        else if page.link !== menu.link
            a(href=menu.link, class="flex justify-center items-center flex-shrink-0 h-6 sm:h-4 w-6 sm:w-4 sm:p-1 text-white hover:text-purple-20 focus:text-purple-20")
                svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="8", height="12", viewBox="0 0 8 12")
                    path(fill="currentColor", d="M0.452344 9.78512L4.53194 5.70553L0.452345 1.61703L1.70829 0.361084L7.05273 5.70553L1.70829 11.05L0.452344 9.78512Z")

    if menu.children[0] !== undefined
        div(class="overflow-hidden max-h-none", data-s-header-submenu-group)
            each submenu in menu.children
                div(class="flex justify-between items-center h-8 sm:h-6 mt-4 ml-1 sm:ml-0 pl-10 sm:pl-8")
                    if page.link === submenu.link
                        span(class="font-medium text-lg sm:text-sm leading-snug mr-3 sm:mr-2 text-purple-20 cursor-default")
                            | #{submenu.text}
                    else
                        a(href=submenu.link, class="font-medium text-lg sm:text-sm leading-snug mr-3 sm:mr-2 text-white hover:text-purple-20 focus:text-purple-20")
                            | #{submenu.text}

                    if page.link !== submenu.link
                        a(href=submenu.link, class="flex justify-center items-center flex-shrink-0 h-6 sm:h-4 w-6 sm:w-4 sm:p-1 text-white hover:text-purple-20 focus:text-purple-20")
                            svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="8", height="12", viewBox="0 0 8 12")
                                path(fill="currentColor", d="M0.452344 9.78512L4.53194 5.70553L0.452345 1.61703L1.70829 0.361084L7.05273 5.70553L1.70829 11.05L0.452344 9.78512Z")