div(x-data="maxHeightData()", x-init="maxHeightClick", x-spread="maxHeightResize")
    div(class="bg-gray-20 rounded-md flex-shrink-0 py-4 px-3 sm:px-2")
        div(class="flex justify-between items-center space-x-1")
            div(class="flex justify-start lg:justify-between items-center flex-grow space-x-2")
                button(type="button", class="text-left text-base md:text-lg sm:text-sm text-black leading-tight font-bold", @click="show = !show")
                    | #{card.title}
            - cls = 'flex justify-center items-center flex-shrink-0 w-5 sm:w-4 h-5 sm:h-4 text-gray-80 hover:text-purple-40 focus:text-purple-40 transition-transform duration-500 ease-linear transform'
            button(type="button", class=cls, :class="show ? '-rotate-90' : 'rotate-90'", @click="show = !show")
                - svg = {width: 6, height: 9, name: 'chevron'}
                include ../../partials/pages/svg

        div(class="overflow-hidden transition-all ease-linear duration-300", x-ref="max_h_outer", style="max-height: 0")
            div(x-ref="max_h_inner")
                div(class="flex xs:flex-col justify-between lg:justify-start md:justify-between items-center space-x-4 xs:space-x-0 xs:space-y-4 pt-4")
                    a(href="tel:+" + card.phone.replace(/\D+/g,""), class="flex justify-center items-center space-x-1 text-purple-80 hover:text-purple-40 focus:text-purple-40")
                        span(class="w-4 sm:w-3 h-4 sm:h-3 p-px")
                            - svg = {width: 16, height: 16, name: 'contacts'}
                            include ../../partials/pages/svg
                        span(class="text-lg md:text-xl sm:text-base leading-tight")
                            | #{card.phone}
                    if card.id > 0
                        div(x-data="{show: true}")
                            button(type="button", x-show="show", @click="show = false", data-d-contact=card.id, class="flex justify-center items-center h-8 md:h-12 sm:h-8 w-24 md:w-32 sm:w-24 xs:w-48 rounded-lg text-white bg-purple-80 hover:bg-purple-40 focus:bg-purple-40")
                                span(class="font-medium text-sm md:text-lg sm:text-sm")
                                    | Заказать
                            span(class="flex justify-center items-center h-8 md:h-12 sm:h-8 w-24 md:w-32 sm:w-24 xs:w-48 rounded-lg text-white bg-green-70", x-show="!show", x-cloak)
                                span(class="font-medium text-sm md:text-lg sm:text-sm")
                                    | Заказано
                    else
                        span(class="flex justify-center items-center h-8 md:h-12 sm:h-8 w-24 md:w-32 sm:w-24 xs:w-48 rounded-lg text-white bg-green-70")
                            span(class="font-medium text-sm md:text-lg sm:text-sm")
                                | Заказано

                if card.email
                    div(class="flex justify-start xs:justify-center pt-4")
                        a(href="mailto:" + card.email, class="flex justify-center items-center space-x-1 text-purple-80 hover:text-purple-40 focus:text-purple-40")
                            span(class="w-4 sm:w-3 h-4 sm:h-3 p-px mt-1")
                                - svg = {width: 16, height: 13, name: 'email'}
                                include ../../partials/pages/svg
                            span(class="text-lg md:text-xl sm:text-base leading-tight")
                                | #{card.email}